		<div id="header">
			<header id="blog_title"> 
				<h1><a href="{{site.url}}">{{site.title}}</a></h1>
			</header>
			<nav id="menu">
				<ul class="header-nav">
					<li><a href="{{site.url}}">Index</a></li>
					<li><a href="{{site.url}}/archives">Archives</a></li>
					<li><a href="https://github.com/cnsystem" target="_blank">Github</a></li>
					<li{% if page.read %} class="current"{% endif %}><a href="{{site.url}}/read">Read</a></li>
					<li{% if page.about %} class="current"{% endif %}><a href="{{site.url}}/about-me-2/">About</a></li>
				</ul>
			</nav>
			<div class="clear"></div>
		</div>
